backports-abc==0.5
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
futures==3.3.0
idna==2.8
Mopidy==2.3.1
Mopidy-Moped==0.7.1
Mopidy-Scrobbler==1.2.1
Mopidy-SomaFM==1.1.0
Mopidy-SoundCloud==2.1.0
Mopidy-Spotify==3.1.0
Mopidy-TuneIn==0.4.1
Mopidy-Youtube==2.0.2
pafy==0.5.5
pycparser==2.19
Pykka==2.0.2
pylast==2.4.0
pyspotify==2.1.2
requests==2.22.0
singledispatch==3.4.0.3
six==1.13.0
tornado==5.1.1
urllib3==1.25.7
